---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Icon from '../components/Icon.astro';
---

<Layout title="Lost Pet Project">
	<main>
		<div class="mt-24 flex flex-col">
			<Icon size={148}/>
			<h2 class="text-lg text-center mt-6 mb-10">helping pets find their way home</h2>
			<div class="flex justify-center gap-4">
				<a href="/report-lost-pet" class="btn btn-primary">Lost pet</a>
				<a class="btn btn-outline">Saw pet</a>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		background: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
